#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

&kscan0 {
    debounce-press-ms = <30>;
    debounce-release-ms = <3>;
};

#define QWERTY 0
#define COLEMAK 1
#define CTL1 2
#define CTL2 3
#define CTL3 4

/ {
	keymap0: keymap {
		compatible = "zmk,keymap";

		qwerty_layer {
			bindings = <
// ┌──────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬────────────────────┬─────────┐
     &kp ESC      &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0    &kp MINUS   &kp EQUAL        &kp BSPC         &kp DEL
// ├──────────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬────────────────┼─────────┤
       &kp TAB        &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P      &kp LBKT    &kp RBKT      &kp BSLH       &kp END
// ├──────────────┴──┬────────┴───┬───────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────────────────┼─────────┤
        &mo CTL2          &kp A        &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L      &kp SEMI    &kp SQT           &kp RET          &kp PG_UP
// ├─────────────────┴────┬───────┴────┬───────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴───────────┬───────────┼─────────┤
          &kp LSHFT            &kp Z        &kp X       &kp C       &kp V       &kp B       &kp N       &kp M     &kp COMMA    &kp DOT     &kp FSLH       &kp RSHFT        &kp UP    &kp PG_DN
// ├──────────────┬───────┴────────┬───┴────────────┼───────────┴───────────┴───────────┴───────────┴───────────┴┬──────────┴─┬─────────┴──┬────────┴───┬────────────┬─┴──────────┬┴─────────┤
      &kp LCTRL        &kp LALT         &kp LGUI                               &kp SPACE                            &mo CTL1     &kp RCTRL      &none      &kp LEFT     &kp DOWN     &kp RIGHT
// └──────────────┴────────────────┴────────────────┴────────────────────────────────────────────────────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴──────────┘
			>;
		};

		colemak_layer {
			bindings = <
// ┌──────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬────────────────────┬─────────┐
     &kp ESC      &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0    &kp MINUS   &kp EQUAL        &mo CTL2         &kp DEL
// ├──────────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬───────┴───┬────────────────┼─────────┤
       &kp TAB        &kp Q       &kp W       &kp F       &kp P       &kp B       &kp J       &kp L       &kp U       &kp Y      &kp SEMI    &kp LBKT    &kp RBKT      &kp BSLH       &kp INS
// ├──────────────┴──┬────────┴───┬───────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────────────────┼─────────┤
        &kp BSPC          &kp A        &kp R       &kp S       &kp T       &kp G       &kp M       &kp N       &kp E       &kp I       &kp O      &kp SQT           &kp RET          &kp PG_UP
// ├─────────────────┴────┬───────┴────┬───────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴────┬──────┴───────────┬───────────┼─────────┤
          &kp LSHFT            &kp Z        &kp X       &kp C       &kp D       &kp V       &kp K       &kp H     &kp COMMA    &kp DOT     &kp FSLH       &kp RSHFT        &kp UP    &kp PG_DN
// ├──────────────┬───────┴────────┬───┴────────────┼───────────┴───────────┴───────────┴───────────┴───────────┴┬──────────┴─┬─────────┴──┬────────┴───┬────────────┬─┴──────────┬┴─────────┤
      &kp LCTRL        &kp LALT         &kp LGUI                               &kp SPACE                            &mo CTL1     &kp RCTRL      &none      &kp LEFT     &kp DOWN     &kp RIGHT
// └──────────────┴────────────────┴────────────────┴────────────────────────────────────────────────────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴──────────┘
			>;
		};

		fn_layer_1 {
			bindings = <
// ┌────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────┬────────────────────────────────┬───────────────┐
        &trans             &kp F1            &kp F2            &kp F3            &kp F4            &kp F5            &kp F6            &kp F7            &kp F8            &kp F9          &kp C_MUTE       &kp C_VOL_DN      &kp C_VOL_UP                &kp DEL               &rgb_ug RGB_ON
// ├────────────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬─────────────────────────┼───────────────┤
            &trans                &none             &none             &kp N1            &kp N2            &kp N3            &none             &none             &none             &none             &none           &to QWERTY       &to COLEMAK           &kp C_EJECT         &rgb_ug RGB_OFF
// ├───────────────────────┴────┬────────────┴─────┬───────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴─────────────────────────┼───────────────┤
             &mo CTL3                   &none              &none             &kp N4            &kp N5            &kp N6            &none             &none             &none             &none             &none             &none                      &trans                    &bl BL_ON
// ├────────────────────────────┴──────┬───────────┴──────┬───────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────┬──────────┴──────────────────┬─────────────────┼───────────────┤
                  &trans                       &none              &none             &kp N7            &kp N8            &kp N9            &kp N0            &none             &none             &none             &none                   &trans                  &none           &bl BL_OFF
// ├─────────────────────┬─────────────┴─────────┬────────┴──────────────┬───┴─────────────────┴─────────────────┴─────────────────┴─────────────────┴─────────────────┴────┬────────────┴──────┬──────────┴───────┬─────────┴────────┬──────────────────┬─┴────────────────┬┴───────────────┤
           &trans                  &trans                  &trans                                                       &trans                                                      &trans             &trans              &none           &kp C_PREV          &kp C_PP          &kp C_NEXT
// └─────────────────────┴───────────────────────┴───────────────────────┴──────────────────────────────────────────────────────────────────────────────────────────────────┴───────────────────┴──────────────────┴──────────────────┴──────────────────┴──────────────────┴────────────────┘
			>;
		};

		fn_layer_2 {
			bindings = <
// ┌────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────────────────┬────────────┐
     &kp GRAVE    &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4       &none          &none          &none          &none          &none      &out OUT_USB   &out OUT_BLE          &sys_reset              &none
// ├────────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────────────────┼────────────┤
         &trans             &none          &none          &none          &none          &none          &none          &none          &none          &none          &none          &none          &none             &none             &none
// ├──────────────────┴───┬──────────┴────┬─────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴────────────────────┼────────────┤
           &trans               &none           &none           &none          &none          &none          &none          &none          &none          &none          &none          &none               &bt BT_CLR               &none
// ├──────────────────────┴─────┬─────────┴─────┬─────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴─────┬────────┴──────────────┬──────────────┼────────────┤
              &trans                  &none           &none           &none          &none          &none          &none          &none          &none          &none          &none              &trans              &none          &none
// ├─────────────────┬──────────┴────────┬──────┴────────────┬──┴──────────────┴──────────────┴──────────────┴──────────────┴──────────────┴─┬────────────┴───┬──────────┴────┬─────────┴─────┬───────────────┬─┴─────────────┬┴────────────┤
         &trans              &trans              &trans                                            &trans                                          &trans           &trans          &none           &trans          &trans          &trans
// └─────────────────┴───────────────────┴───────────────────┴───────────────────────────────────────────────────────────────────────────────┴────────────────┴───────────────┴───────────────┴───────────────┴───────────────┴─────────────┘
			>;
		};

		fn_layer_3 {
			bindings = <
// ┌────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────────────────────┬───────────┐
       &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &none      &bootloader         &sys_reset            &none
// ├────────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴────┬───────────────────┼───────────┤
         &none            &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &none            &none            &none
// ├─────────────────┴───┬─────────┴────┬────────┴─────┬───────┴─────┬───────┴─────┬───────┴─────┬───────┴─────┬───────┴─────┬───────┴─────┬───────┴─────┬───────┴─────┬───────┴─────┬───────┴───────────────────┼───────────┤
           &none               &none          &none         &none         &none         &none         &none         &none         &none         &none         &none         &none                &none                &none
// ├─────────────────────┴────┬─────────┴────┬─────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴────┬────────┴─────────────┬─────────────┼───────────┤
              &none                 &none          &none         &none         &none         &none         &none         &none         &none         &none         &none              &none             &none         &none
// ├────────────────┬─────────┴────────┬─────┴────────────┬─┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─┬───────────┴───┬─────────┴────┬────────┴─────┬──────────────┬─┴────────────┬┴───────────┤
         &none              &none              &none                                         &none                                        &none           &none          &none          &none          &none          &none
// └────────────────┴──────────────────┴──────────────────┴─────────────────────────────────────────────────────────────────────────┴───────────────┴──────────────┴──────────────┴──────────────┴──────────────┴────────────┘
			>;
		};
	};
};
